<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/styles.css">
    <title>Редагувати пост</title>
</head>
<body>
    <div class="container">
        <h1>Редагувати пост</h1>
        <form action="/posts/edit/<%= post._id %>?_method=PUT" method="POST">
            <div>
                <label for="title">Заголовок:</label>
                <input type="text" id="title" name="title" value="<%= post.title %>" required>
            </div>
            <div>
                <label for="description">Опис:</label>
                <textarea id="description" name="description" required><%= post.description %></textarea>
            </div>
            <div>
                <label for="author">Автор:</label>
                <input type="text" id="author" name="author" value="<%= post.author %>" required>
            </div>
            <div>
                <p>Дата створення: <%= post.createdAt.toLocaleDateString('uk-UA') %></p> 
                <p>Останнє оновлення: <%= post.updatedAt ? post.updatedAt.toLocaleDateString('uk-UA') : 'Ніколи' %></p>                
            </div>
            <button type="submit" class="btn btn-create">Оновити пост</button>
            <button type="button" class="btn btn-cancel" onclick="window.location.href='/'">Скасувати</button>
        </form>
    </div>
</body>
</html>
